<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Puppet Making Workshop<div class="sub header">With Visual Artist Ruth Flynn</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/children/Puppet%20Making%20Workshop%20with%20Visual%20Artist%20Ruth%20Flynn.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Thursday October 26th, 11am<div class="sub header">GOMA</div> </h3>
            <p>
                Learn how to make your own puppet using styrofoam balls, wooden sticks, pipe cleaners, tissue paper and
                various other crafty bits and bobs. Exploring creativity through the process of designing and creating a puppet
                and bring them to life on a puppet stage. Open to all ages, children under 7 must be accompanied by an adult.
            </p>
            <p>
                <b>Admission :</b> €6
            </p>
        </div>
    </div>
</div>