<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Waterfordopedia </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/children/Waterfordopedia%201.jpg" style="height: 375px;">
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Sunday October 22nd, 3pm<div class="sub header">Garter Lane Theatre</div> </h3>
            <p>
                Join John and Fatti Burke, the author and illustrator of award winning bestsellers Historopedia and Irelandopedia, for an
                illlustrated journey through the story of Waterford, era by era. Explore over 10,000 years of courageous Celts and
                rampaging Vikings with Waterford’s very own father-daughter time-travelling dynamic duo. As a retired primary
                school teacher, John Burke and his daughter Fatti make learning history fun and quirky for kids… and grown-ups too!
                Suitable for children from 5-12 years accompanied by a parent or guardian.
            </p>
            <p>
                <b>Admission : </b> €4 euro each or €12 for family of four.
            </p>
        </div>
    </div>
</div>