<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Hidden Figures<div class="sub header">Parent &amp; Baby Friendly</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/film/Hidden-Figures.jpg" style="height: 375px;">
        </div>
        <div class="ui column">
            <h3 class="ui header">Tuesday October 24th, 10:30pm<div class="sub header">Garter Lane</div> </h3>
            <p>
                Enjoy a dedicated morning screening of ‘Hidden Figures’ for parents, guardians and minders with babies.
            </p>
            <p>
                Based on an incredible true story, ‘Hidden Figures’ dramatises the pivotal role that a group of African-American
                female mathematicians played in sending astronaut John Glenn into space.
            </p>
            <p>
                To make your experience more comfortable for you and your little one, we turn down the volume and keep low
                lighting. There are baby changing facilities on site, space to park your buggy and an opportunity to meet and
                chat with other parents and guardians of babies in the nearby Granary Café following the screening- show your
                ticket to receive a 10% discount.
            </p>
            <p>
                <b>Admission : </b> €9/€6 Conc. Babies go Free! <a href="http://www.garterlane.ie/"><i class="ticket large black icon"></i>garterlane.ie</a>
            </p>
        </div>
    </div>
</div>