<h1>CSS  Distribution</h1><p>This repository is automatically synced with the main <a href="https://github.com/Semantic-Org/Semantic-UI">Semantic UI</a> repository to provide lightweight CSS only version of Semantic UI.</p>
<p>This package <strong>does not support theming</strong> and includes generated CSS files of the default theme only.</p>
<p>You can view more on Semantic UI at <a href="http://www.learnsemantic.com">LearnSemantic.com</a> and <a href="http://www.semantic-ui.com">Semantic-UI.com</a></p>
