<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Dime A Dozen (With Lorcan Reidy)</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/Dime%20A%20Dozen%20with%20Lorcan%20Reidy.png">
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Thursday October 19th, 8pm <div class="sub header">St. John's Church</div> </h3>
            <p>
                An original music gig comprised of twelve local musicians. This is a one off reinterpretation of Lorcan Reidy's original
                works. It will be filmed in its entirety in front of a live audience, and released at a later date as both a live CD and live film.
            </p>
            <p>
                Joining Lorcan are Eoin Dalton (guitar), Peter Vogelaar (upright bass), Michelle Haberlin (fiddle), Killian Browne (keys),
                John O'Halloran (flute), Aaron Mullhall (percussion), Robert Doherty (harmonica), Cliodhna Lily Gahan (voice), Eddie Blake (drums),
                Kevin Power (guitar), Anthony Roche (flute).
            </p>
            <p>
                <b>Admission :</b> €15
            </p>
        </div>
    </div>
</div>