body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    background-color: #FFFFFF;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .landing-head, .visual-art-head, .performance-head, .music-head , .trad-head ,.writer-head, .date-head{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3,
    .bgimg-cv1,
    .bgimg-cv2 {
        background-attachment: scroll;
    }
}

/* First image (Logo. Full height) */
.bgimg-1 {
    min-height: 500px;

}

.bgimg-3 {
    background-image: linear-gradient(175deg, #A3B4A1 0%, #436C6D 100%);
    min-height: 400px;
}

.bgimg-5{
    background-image: linear-gradient(175deg, #A3B4A1 0%, #436C6D 100%);
    min-height: 400px;
}

.team-header{
    font-weight: bold;
    font-size: 1.55em;
    margin-top: 7px;
    padding-top: 5px;
    line-height: .5;
    color: #0f0f10;
}

.team-pos{
    font-size: 1em;
    border-bottom: solid 1px #8c8b8b;
}

.center-button{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 95%;
    left: 52%;
    margin-left: -48px;
    margin-top: -25px;
}

.center-lineup{
    position: absolute;
    width: 300px;
    height: 100px;
    top: 50%;
    left: 40%;
    margin-left: -50px;
    margin-top: -25px;
}

.center-header {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px;
}​

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.hidden.menu {
    display: none;
}
.masthead.segment {
    min-height: 400px;
    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}
.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}
.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

.ui.about p{
    font-size: 1.15em;
}
