<div class="bgimg-5">
    <div class="ui masthead vertical stripe center aligned segment">
        <div class="ui text container">
            <img class="ui fluid image" src='../assets/images/film.png' />
            <a class="ui secondary basic button" href="#home">Read More <i class="down arrow icon"></i></a>
        </div>
    </div>
</div>
<div class="ui container" id="home">
    <br>
    <h1 class="ui dividing header">Film Lineup 2017</h1>
    <div class="ui stackable equal width grid">
        <div class="column">
            <h3 class="ui dividing header">Sanctuary</h3>
            <a href="./events/film/sanctuary.html"><img class="ui fluid image" src="../assets/images/events/film/Sanctuary.png" style="height:  350px"></a>
        </div>
        <div class="column">
            <h3 class="ui dividing header">JAWS</h3>
            <a href="./events/film/jaws.html"><img class="ui fluid image" src="../assets/images/events/film/Jaws.jpg" style="height:  350px"></a>
        </div>


        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">In Your Dreams, Boy</h3>
                <a href="./events/film/dreams.html"><img class="ui fluid image" src="../assets/images/events/film/right%20on%20blues%20bros%20copy.jpg" style="height:  250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Michael Fortune</h3>
                <a href="./events/film/fortune.html"><img class="ui fluid image" src="../assets/images/events/film/IMG_1020.JPEG" style="height:  250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Drifting Cities</h3>
                <a href="./events/film/cities.html"><img class="ui fluid image" src="../assets/images/events/film/Michael%20Higgins%20Drifting%20Cities%20.jpg" style="height:  250px"></a>
            </div>

        </div>

        <div class="ui two column centered grid">

            <div class="column">
                <h3 class="ui dividing header">Hidden Figures</h3>
                <a href="./events/film/hidden.html"><img class="ui fluid image" src="../assets/images/events/film/Hidden-Figures.jpg" style="height:  350px"></a>
            </div>

        </div>

    </div>
</div>
