<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="../assets/css/semantic.css" media="screen">
    <link rel="stylesheet" href="../style.css">
    <title>Imagine Festival</title>
    <script src="//code.jquery.com/jquery-2.2.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js"></script>
    <script src="../assets/css/semantic.js"></script>
    <script>
			$(document).ready(function() {
				// create sidebar and attach to menu open
				$('.ui.sidebar').sidebar('attach events', '.toc.item');
			});
    </script>
</head>
<body>

<%- partial("includes/_includes-header.ejs") %>
<div class="bgimg-5">
  <div class="ui masthead vertical stripe center aligned segment">
    <div class="ui text container">
        <img class="ui fluid image" src='../../assets/images/team.png' />
        <a class="ui secondary basic button" href="#home">Read More <i class="down arrow icon"></i></a>
    </div>
  </div>
</div>
<br>
<div class="ui container"  id="home">
  <br>
    <h1 class="ui dividing header">
        Meet the Team
    </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../assets/images/team/rick.jpg" style="height: 350px">
            <div class="team-header">Rick O'Shea</div>
            <div class="team-pos">Literature Curator</div>
            <p>Rick is an RTE Presenter and he will curate the Waterford Writers Weekend, which amalgamated with the Imagine Arts Festival in 2016. Rick has been a radio presenter with RTE since 2001 both on RTE 2FM and as a presenter of The Poetry Programme on RTE Radio 1. </p>
        </div>
        <div class="ui column">
            <img class="ui fluid image" src="../assets/images/team/jenna.png" style="height: 350px">
            <div class="team-header">Jenna Whelan</div>
            <div class="team-pos">Visual Art,Education and Special Events Curator</div>
            <p>Jenna is a visual artist and Director of GOMA Gallery of Modern Art. Living and working in Waterford she completed her MA by Research in Crawford College of Art. Following this she began working for the Cork Film Centre and the prestigious Lismore Castle Arts.
            </p>
        </div>
        <div class="ui column">
            <img class="ui fluid image" src="../assets/images/team/steve.jpg" style="height: 350px">
            <div class="team-header">Stephen Butler</div>
            <div class="team-pos">Theatre, Music and Special Events Curator</div>
            <p>Stephen is a local business owner with a passion for all things music. Owner and operator of Labyrinth Management & Events, which is a one-stop, shop Music Company that manages artists, bookings, music videos, marketing and produces events throughout the South East</p>
        </div>
    </div>

    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../assets/images/team/Ollie.jpg" style="height: 350px">
            <div class="team-header">Ollie Breslin</div>
            <div class="team-pos">Festival Coordinator</div>
            <p>Ollie has worked professionally in the arts for over thirty years and works fulltime for Waterford Youth Arts.  In recent years he has helped create a body of work in the area of film social documentaries. </p>
        </div>
        <div class="ui column">
            <img class="ui fluid image" src="../assets/images/team/Edel.jpg" style="height: 350px">
            <div class="team-header">Edel Fox</div>
            <div class="team-pos">Traditional Music</div>
            <p>Edel Fox is a concertina player from Miltown Malbay Co. Clare. In 2004, Edel was awarded the TG4 Gradam Ceoltóir Óg na Bliana (Young Musician of the Year), Edel also has a B.A. in Irish Music and Dance as well as a M.A. in Music Therapy. </p>
        </div>
        <div class="ui column">
            <img class="ui fluid image" src="../assets/images/team/nick.JPG" style="height: 350px">
            <div class="team-header">Dr. Nicholas Bankes</div>
            <div class="team-pos">Chair Person</div>
            <p>Dr. Nicholas work's as a psychologist and is an active jazz bass player</p>        </div>
    </div>

    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../assets/images/team/Jane.JPG" style="height: 350px">
            <div class="team-header">Jane Keen</div>
            <div class="team-pos">Governance & Policies</div>
            <p>Jane is a retired Probation Officer and amateur visual artist.</p>
      </div>
        <div class="ui column">
            <img class="ui fluid image" src="../assets/images/team/natalie.jpg" style="height: 350px">
            <div class="team-header">Natalie Fitzpatrick</div>
            <div class="team-pos">Accounts</div>
            <p>Recently completed a Masters in Social Studies, works in local government and current Waterford District Commissioner for the Irish Girl Guides</p>
        </div>
        <div class="ui column">
            <img class="ui fluid image" src="../assets/images/team/liz.png" style="height: 350px">
            <div class="team-header">Elizabeth O`Dea</div>
            <div class="team-pos">Film and Finance</div>
            <p>Elizabeth is a solicitor in Legal Aid and is also active in yoga and dance.</p>
        </div>
    </div>

    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../assets/images/team/phad.jpg" style="height: 350px">
            <div class="team-header">Patrick Phad Hennessy</div>
            <div class="team-pos">Imagine Music</div>
            <p>Patrick Phad Hennessy has been involved in the arts for many years. He is passionate about music and has been volunteering with Imagine as music booker since 2006. </p>
        </div>
        <div class="ui column">
            <img class="ui fluid image" src="../assets/images/team/thumbnail_ger.jpg" style="height: 350px">
            <div class="team-header">Ger Kennedy </div>
            <div class="team-pos">Visual Art and Social Inclusion </div>
            <p>Ger has worked as a visual arts teacher for many years both in schools and in the community sector. She is also an artist herself and has exhibited widely. She has also helped organise arts events for many years. </p>
        </div>
        <div class="ui column">
            <img class="ui fluid image" src="../assets/images/team/mike.jpg" style="height: 350px">
            <div class="team-header">Micheal Doody</div>
            <div class="team-pos">Part-time Administrator</div>
            <p>Micheal is based at the Waterford Municipal Arts Office, and is supported by Waterford Council.</p>
        </div>
    </div>

    <br>
</div>

<%- partial("includes/_sponsors.ejs") %>
<%- partial("includes/_footer.ejs") %>

</body>
</html>
