<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../assets/css/semantic.css" media="screen">
    <link rel="stylesheet" href="../../style.css">
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../assets/images/favicon.ico" type="image/x-icon">
    <script src="//code.jquery.com/jquery-2.2.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js"></script>
    <script src="../../assets/css/semantic.js"></script>
    <script>
      $(document).ready(function() {
        // create sidebar and attach to menu open
        $('.ui.sidebar').sidebar('attach events', '.toc.item');
      });
    </script>
    <script>
        $(document).ready(function(){
	        $('.special.cards .image').dimmer({
		        on: 'hover'
	        });
        })
    </script>
    <title> Imagine Festival </title>
</head>
<body>
<div class="pusher">
<%- partial("/_header.ejs") %>
<div class="landing-head"></div>
<%- yield %>
<%- partial("/_spotlight1.ejs")%>
<%- partial("/_sponsors.ejs") %>
<%- partial("/_footer.ejs") %>
</div>
</body>
</html>
