<div class="ui container">
    <br>
    <h1 class="ui dividing header">
        Ones To Watch
    </h1>
    <div class="ui special cards" style="padding-top: 10px">
        <div class="ui stackable two column grid">
            <div class="ui column">
                <h2 class="ui header">Nigel Rolfe</h2>
                <div class="ui fluid card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a class="ui inverted button" href="../../../../strands/events/visual-art/nigel.html">Read More</a>
                                </div>
                            </div>
                        </div>
                        <img src="../../../assets/images/events/art/Rolfe_Artic_Action_2015.jpg" style="height: 370px">
                    </div>
                </div>
            </div>

            <div class="ui column">
                <h2 class="ui header">Aideen Barry - Talk</h2>
                <div class="ui fluid card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a class="ui inverted button" href="../../../strands/events/visual-art/aideen-barry.html">Read More</a>
                                </div>
                            </div>
                        </div>
                        <img src="../../../assets/images/events/art/AB%20Images.003.jpeg" style="height: 370px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
