<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Close Encounters<div class="sub header">Animated State Dance Theatre</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/theatre/Jess%20and%20Tobi.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Friday October 20th, 5pm & 7pm<div class="sub header">Viking Museum</div> </h3>
            <p>
                Evoking a sense of place, partly real (the location) and partly imagined (our own responses to the location).
                 Two dances on a precarious edge of unpredictability embody something vital and pertinent to the present moment.
                We invite people who join us to engage with the spirit of playful exploration that lies at the heart of it.
            </p>
            <p>
                Choreographed and directed by Libby Seward.
            </p>
            <p>
                Created in collaboration with dancers: Jess Rowell and Tobi Omoteso
            </p>
            <p>
                <b>Admission : </b>€10/€8conc.
            </p>
        </div>
    </div>
</div>