<footer>
    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable inverted divided grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">Whats On?</h4>
                    <div class="ui inverted link list">
                        <a href="../strands/timetable.html" class="item">Full Line Up</a>
                        <a href="../strands/vaevent.html" class="item">Visual Art</a>
                        <a href="../strands/mevent.html" class="item">Live Music</a>
                        <a href="../strands/tevent.html" class="item">Performance</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Imagine Arts</h4>
                    <div class="ui inverted link list">
                        <a href="../index.html/#about" class="item">About Us</a>
                        <a href="../strands/team.html" class="item">Meet the Team</a>
                        <a href="#map" class="item">Points of Interest</a>
                        <a href="../index.html/#event" class="item">What to Expect</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Get Involved</h4>
                    <div class="ui inverted link list">
                        <a href="../strands/volunteer.html" class="item">Volunteer</a>
                        <a href="../strands/sponser.html" class="item">Sponser</a>
                        <a href="../strands/socialmedia.html" class="item">Social Media</a>
                        <a href="../strands/contact.html" class="item">Contact Us</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Imagine Arts Festival</h4>
                    <p>A unique celebration of the arts in Waterford</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <img class="ui centered small image" src="../assets/images/imagine-logo-2.png">
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="https://www.facebook.com/imaginewaterford/"><i class="large facebook square icon"></i></a>
                <a class="item" href="https://www.instagram.com/imagineartsfest/"><i class="large instagram icon"></i></a>
                <a class="item" href="https://twitter.com/Imagine_Fest"><i class="large twitter square icon"></i></a>
                <a class="item" href="https://www.youtube.com/watch?v=NNKLrGTl4pU"><i class="large youtube square icon"></i></a>
                <p><sub>All rights reserved Imagine Arts Festival</sub></p>
            </div>
        </div>
    </div>
</footer>
