<!-- Following Menu -->
<div class="ui large top inverted fixed menu">
  <div class="ui container">
    <a class="toc item">
      <i class="sidebar icon"></i>
      Imagine Arts Festival
    </a>
  </div>
</div>


<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu left">
    <a class="ui item" href="../index.html">
        Imagine Arts Festival
    </a>
    <a class="ui item" href="../strands/timetable.html">Timetable</a>
    <a class="ui item" href="../strands/tickets.html">Tickets</a>
    <a class="ui item" href="../strands/battle-of-the-blaas.html">Battle of the Blaas</a>
    <div class="item">
        <a class="ui small inverted header" href="../index.html/#event">What's On</a>
    </div>
    <div class="menu">
    <a class="ui item" href="../strands/vaevent.html">Visual Arts</a>
    <a class="ui item" href="../strands/mevent.html">Music</a>
    <a class="ui item" href="../strands/tevent.html">Performance</a>
    <a class="ui item" href="../strands/tradevent.html">John Dwyer Trad Fest</a>
    <a class="ui item" href="../strands/writerevent.html">Writers Weekend</a>
    <a class="ui item" href="../strands/dateevent.html">Children's Events</a>
        <a class="ui item" href="../strands/film.html">Film</a>
        <a class="ui item" href="../strands/history.html">History</a>
    </div>
    <div class="item">
        <div class="ui small inverted header">The Festival</div>
    </div>
    <div class="menu">
        <a class="ui item" href="../index.html/#about">About the Festival</a>
        <a class="ui item" href="../strands/team.html">Meet the Team</a>
        <a class="ui item" href="#map">Points of Interest</a>
    </div>
    <div class="item">
        <div class="ui small inverted header">Get Involved</div>
    </div>
    <div class="menu">
        <a class="ui item" href="../strands/volunteer.html">Volunteer</a>
        <a class="ui item" href="../strands/sponser.html">Sponser</a>
        <a class="ui item" href="../strands/socialmedia.html">Social Media</a>
        <a class="ui item" href="../strands/contact.html">Contact Us</a>
    </div>
</div>
